* {
	font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑',
		Arial, sans-serif;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	font-size:.9rem;
	overflow-x:hidden;
}

.table th, .table td {
	border-top:none;
}


/*
 * Base structure
 */ 
.content {
	margin-left: 250px;
    overflow: hidden;
    padding: 5px 20px;
    min-height: 80vh;
}

body.sm .left-side-menu {
	display: none;
}

body.sm .left-side-menu.show {
	display: block;
}

body.sm .left-side-menu.hide {
	display: block;
}

body.sm .content {
	margin-left:0;
}

a,button,.btn {
	cursor: pointer;
}

/*
 * Typography
 */
h1 {
	margin-bottom: 20px;
	padding-bottom: 9px;
	border-bottom: 1px solid #eee;
}
 
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.02);
}

.slimScrollBar {
	z-index: 99999 !important;
}

.sidebar .nav {
	margin-bottom: 20px;
}

.sidebar .nav-item {
	width: 100%;
}

.sidebar .nav-item+.nav-item {
	margin-left: 0;
}

.sidebar .nav-link {
	border-radius: 0;
}

.topbar {
	padding: 0 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    margin: -5px -20px 0;
    min-height: 50px;
}

/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
	padding-bottom: 3rem;
}

.placeholder img {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

/* 
.col-form-label {
	text-align: center;
} */
.form-control {
	border-radius: 0;
}

@media ( min-width : 992px) {
	.col-form-label {
		text-align: right;
	}
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/* 
.form-group.row {
	margin-left: 0;
	margin-right: 0;
}
  */
.breadcrumb {
	background-color: transparent;
}

/*
.fixed-top {
	top:22px;
}
 */
.page-loading {
	position: absolute;
	width: 100%;
	height: 500px;
	top: 0;
	background: rgba(242, 242, 242, 1);
	z-index: 9999;
}

.page-loading .load-container {
	position: relative;
	top: 40%;
}

.page-loading .load-icon {
	font-size: 50px;
}

.page-loading .load-text {
	font-size: 14px;
	font-weight: bold;
}

.screen-center {
	background-color: #fff;
	left: 50%;
	margin: -150px 0 0 -150px; /* -高/2px 0 0 -宽/2px;*/
	position: fixed;
	top: 50%;
	width: 300px;
	height: 300px;
	z-index: 25;
}

#navbarNav { 
  	justify-content: space-between;
}

.navbar .navbar-nav .nav-item.active { 
	border-bottom: rgb(91, 126, 228) solid 2px;  
}

.quickbar { 
	font-size:12px;
}

.quickbar ul { 
	list-style: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
}  
.quickbar ul li {
	padding:3px 10px;
}

/*大于1都都加左边框*/
.quickbar ul li:nth-child(n+2) { 
	border-left: #fff solid 2px;
	box-shadow: -1px 0 0 #ccc;
}  

.app-side {
	position: relative;
	margin: 0;
	width:100%;
}

.app-side .side-nav .metismenu a:active, .app-side .side-nav .metismenu a:focus, .app-side .side-nav .metismenu a:hover {
    color: #000000;
    background: #e0f0ff;
} 

.ui-tabs.nav-tabs {
	background: #FBFBFB;
}

.ui-tabs.tab-body {
	border: 1px solid #ddd;
    border-top: none;
    padding:15px;
}

.nav-tabs .nav-link {
	background: #F6F6F6;
}

.ui-tabs.nav-tabs .nav-link.active {
	border-top: 3px solid #ccc;
}

.btn:focus {
	box-shadow:none !important;
}

.iconfont { 
    font-size:inherit; 
}

.ui-pager li.active a {
	font-weight: bold;
	color:black;
}

.mu-form label,.mu-form .label {
	text-align:center;
}

.mu-grid {
	margin:1.2em 0 0 0;
}

.mu-grid .table {
	border:1px solid #eee;
}

.mu-grid .table th,.mu-grid .table td {
    padding: 0.5rem;
    vertical-align: middle;
    border-top: none; 
    text-align: center;
}

.mu-grid .table th:nth-child(n+2),.mu-grid .table td:nth-child(n+2) {
	/* border-left: 1px solid #EEE;  */
}

.mu-grid .table .table-th-fixed {
	border-bottom: 2px solid #888;
}

.mu-grid .table .table-th-resize { 
	border-right:1px solid #ccc;
	cursor: w-resize;
}

.mu-grid .table td .btn-link {
	padding: 0.1rem;
}

.mu-form-header {
	margin-top: 15px;
	margin-bottom: 30px;
}

.mu-form-header h3,.mu-form-header h4,.mu-form-header h5 {
    border-bottom: .5px solid #EAEAEA;
    line-height: 2em; 
}

.mu-form-header h3 span,.mu-form-header h4 span,.mu-form-header h5 span {
    border-bottom: 1px solid #007bff;/*#cd1ff9;*/
    padding: 0.45em 0.5em;
}


.bkz {
	position: relative; 
	line-height: 35px;
	text-align: center;
	text-transform: uppercase;
}

.bkz.bkz-short { 
    margin: 0 13em; 
}

.bkz:before {
	position: absolute;
	top: 50%;
	display: block;
	content: "";
	width: 100%;
	height: 1px;
	background-color: #EEE;
}

.blb {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 100%;
	color: inherit;
}

.bla {
	position: relative;
	z-index: 2;
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
	color: #aaa;
	vertical-align: middle;
	background-color: #FFF;
}

.bla .lp {
	float: left;
}  

.mu-grid .table-scroll-header table tr {
	height:50px;
}

.mu-grid .table-scroll-body {
	overflow-y: scroll;
	overflow-x: scroll;
}
 

.mu-grid .table-scroll-body table {
	margin-bottom: 0;
}

.mu-grid .table-scroll-body table tr {
	height: 45px;
}

.mu-grid .table thead th * {
	vertical-align: middle;
}

.mu-grid .table thead th span {
	display: inline-block;
	line-height:18px;
}

.mu-grid .table .table-th-label {
	min-width:20px; 
}

.tree-level-2 {
	padding-left:20px;
}

.tree-level-3 {
	padding-left:40px;
}

.tree-level-4 {
	padding-left:60px;
}

.tree-level-5 {
	padding-left:80px;
}

.ellipsis,.mu-grid .table .table-th-label,.mu-grid .table .table-td-text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
} 

.table-td-text {
	display:block; 
	text-align:center;
} 

.table-srcoll-wrapper .table {
	table-layout:fixed;
	width: auto;
	max-width:inherit;
	border: none;
	margin:0;
}

.table-scroll-header {
	/* border: 1px solid #EEE; */
	border-top: 1px solid #EEE;
	border-bottom: none;
}

.table-scroll-body {
	/* border: 1px solid #EEE; */
	border-top: none;
}

.table-message-body {
	border-radius: 10px;
}

.table-message-body i {
	font-size: 2em;
}

.table-message-body p {
	margin: 10px 0 0 0;
}

.require:before{ 
	color:red;
	content:"* ";
}

.dropdown-menu {
	border-radius: 0;
	padding: 0;
	font-size: 0.9rem;
}

.modal-header {
	border-bottom: none;
}

.modal-footer {
	border-top: none;
}

/* noborder */
.nbd {
	border:none !important;
}

/*! jQuery UI - v1.12.1 - 2017-10-03
* http://jqueryui.com
* Includes: draggable.css, core.css, resizable.css, selectable.css, sortable.css
* Copyright jQuery Foundation and other contributors; Licensed MIT */

.ui-draggable-handle {
	-ms-touch-action: none;
	touch-action: none;
}
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
	pointer-events: none;
}


/* Icons
----------------------------------*/
.ui-icon {
	display: inline-block;
	vertical-align: middle;
	margin-top: -.25em;
	position: relative;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

.ui-widget-icon-block {
	left: 50%;
	margin-left: -8px;
	display: block;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-resizable {
	position: relative;
}
.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}
.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}
.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}
.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}
.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}
.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}
.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}
.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}
.ui-selectable {
	-ms-touch-action: none;
	touch-action: none;
}
.ui-selectable-helper {
	position: absolute;
	z-index: 100;
	border: 1px dotted black;
}
.ui-sortable-handle {
	-ms-touch-action: none;
	touch-action: none;
}

/* === datetimepicker === */
.datetimepicker  td, .datetimepicker th {
	font-size:14px;
	padding: 3px 6px;
}

.form_datetime input {
	font-size:1em;
}


/* UI */
/* TIIP: 居中也可以绝对定位 top:50%，以及margin: 负数（元素高度的一半） */
.ui-select .ui-select-selection {
	position: relative;
}
.ui-select .ui-select-arrow {
	display:block; 
	background:rgba(255,255,255,.1);
	position: absolute; 
	right:0; 
	top:50%;  
	width:30px; 
	text-align:center; 
	cursor:pointer;
	margin-top: -9px;
}

.ui-select .ui-select-content {
	background: #EEE;
	border:1px solid #aaa;
	border-top: 0;
}

.ui-select .ui-select-content-body .ui-select-data-item {
	padding:5px;
}

.ui-select .ui-select-content-body .ui-select-data-item:nth-child(odd){
	background: #FFF;
}

.ui-select .ui-select-content-body .ui-select-data-item:nth-child(even){
	background: #EEE;
}

.ui-select .ui-select-content-body .ui-select-data-item:hover{
	background:#777; color:#FFF;
}

.ui-select .ui-select-content-body .ui-select-data-item.selected {
		
}

.ui-select .ui-select-content-body ul {
	margin-bottom: 0;
}



/* 3rd for http://themes.getbootstrap.com/preview/?theme_id=6743&show_new=*/
.nav-pills>li>a,.nav-tabs>li>a {
    color: #6c757d;
    font-weight: 600
}

.nav-pills>a {
    color: #6c757d;
    font-weight: 600
}

.nav-tabs.nav-bordered {
    border-bottom: 2px solid rgba(152,166,173,.2);
}

.nav-tabs.nav-bordered .nav-item {
    margin-bottom: -2px
}

.nav-tabs.nav-bordered li a {
    border: 0;
    padding: .625rem 1.25rem
}

.nav-tabs.nav-bordered li a.active {
    border-bottom: 2px solid #727cf5
}

.nav-tabs.nav-bordered .nav-link {
	background: transparent;
}

/* FIX:*/
.jconfirm {
	z-index:111
} 
 
/* 模糊(毛玻璃)效果  https://www.jb51.net/css/412009.html */
.view-filter {
	background: inherit;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=false);	
}

.table-cell {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	position:relative;
}

/* fixed居中*/
.store-success {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    margin: auto;
    width: 80px;
    height: 20px;
    line-height: 20px;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background: rgba(0,0,0,0.5);
}

/* metro tiles http://www.bootcss.com/p/metro-ui-css/tiles.html */
.card.selected {
	border: 2px #2d89ef solid;
}

/* 加图标 https://www.cnblogs.com/zccst/p/3655069.html */
.card.selected::before {
    position: absolute;
    font-family: FontAwesome;
    content: "\f00c";
    color: #fff;
    top: 2px;
    right: 4px; 
    z-index: 1002;
}

.card.selected:after {
    width: 0;
    height: 0;
    border-top: 40px solid #2d89ef;
    border-left: 40px solid transparent;
    position: absolute;
    display: block;
    right: 0;
    content: ".";
    top: 0;
    z-index: 1001;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    margin-bottom: 30px;
    border-radius: unset;
    border: 0;
}

/* alert https://github.com/sweetalert2/sweetalert2 */
/* bootstrap-notify */
/* bootstrap plugins  http://ju.outofmemory.cn/entry/145667 */

/* begin */

/* 基于阴影的显示风格 */
.shadow.x {
	box-shadow: 0 0 35px 0 rgba(154,161,171,.15) !important;
}

 .shadow>.nav-tabs
,.shadow>.ui-tabs.tab-body
,.shadow>.nav-tabs .nav-item.show .nav-link {
	border:none;
}

.shadow>.nav-tabs .nav-link.active {
	border-color:transparent;
}

/* 基于细边框的显示风格 */
.bordered {

}



/* end */
.nav-tabs.nav-bordered {
	border-bottom: 1px solid #eee;
}
.nav-tabs.nav-bordered>.nav-item>.active {
	border-bottom: 3px solid #2d89ef;
}

/* ant-d begin */
.status-dot {
	background-color: #ccc;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 6px;
    height: 6px;
    vertical-align: middle;
    border-radius: 50%;
}

.status-dot.processing {
	background-color: #1890ff;
}

.status-dot.success {
	background-color:#52c41a;
}

.status-dot.processing:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #1890ff;
    border-radius: 50%;
    animation: statusAnimation 2.2s ease-in-out infinite;
    content: "";
}

@keyframes statusAnimation /*antStatusProcessing*/{
	0%{transform:scale(.8);opacity:.5}
	to{transform:scale(2.4);opacity:0}
} 

/*ant-d end*/



/* ex */
.table-cell-value-changed::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 0;
	width: 0;
	border-top: 8px solid #ff7575;
	border-left: 8px solid transparent;
}

.datatable-row-deleted {
	display: none;
}