<div class="tab-wrapper <%=$widget.containerStyle || $win.ui.config.containerStyle || 'shadow' %>">
	<ul class="nav nav-tabs tab-header <%=$widget.style || 'ui-tabs'%>">
	  <% var pages = $widget.pages;$win.console.log(pages); %>
	  <% for(var i=0;i <pages.length;i++) { var page = pages[i]; page.id = page.id || "tab-item-"+i; %>
		  <li class="nav-item">
		    <a class="nav-link <%= page.selected ? 'active' : '' %>" data-toggle="<%= page.id %>" data-url="<%= page.url %>">
				<%= page.title %>
			</a>
		  </li>
	  <% } %> 
	</ul> 
	<div class="tab-body <%=$widget.style || 'ui-tabs'%>">   
	  <% for(var i=0;i <pages.length;i++) { var page = pages[i];%>
	 	<div data-tab-id="<%=page.id%>"></div> 
	  <%}%>
	</div>
</div>